<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yipeng.bill.bms.dao.FundAccountMapper">
  <resultMap id="BaseResultMap" type="com.yipeng.bill.bms.domain.FundAccount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, balance, create_time, create_user_id, update_time, update_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_fund_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_fund_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yipeng.bill.bms.domain.FundAccount">
    insert into t_fund_account (id, user_id, balance, 
      create_time, create_user_id, update_time, 
      update_user_id)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{balance,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yipeng.bill.bms.domain.FundAccount">
    insert into t_fund_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yipeng.bill.bms.domain.FundAccount">
    update t_fund_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yipeng.bill.bms.domain.FundAccount">
    update t_fund_account
    set user_id = #{userId,jdbcType=BIGINT},
      balance = #{balance,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByUserFund"  resultMap="BaseResultMap">
    select a.*
    from t_fund_account as a,t_user as b
    where a.user_id=b.id
    AND
    b.create_user_id=#{userId,jdbcType=BIGINT}
  </select>
  <select id="selectByUserFundCount" parameterType="java.lang.Long"  resultType="java.lang.Integer">
    select COUNT(a.user_id)
    from t_fund_account as a,t_user as b
    where a.user_id=b.id
    AND
    b.create_user_id=#{userId,jdbcType=BIGINT}
  </select>
  <select id="selectOperatorByUserFund"    resultMap="BaseResultMap">
    SELECT distinct  e.*
    from t_bill as a,t_bill_price as b,t_user_role as f,t_user as d,t_fund_account as e
    WHERE a.id=b.bill_id
    AND b.out_member_id=f.user_id
    AND d.id=a.id
    AND b.out_member_id=e.user_id
    AND f.role_id=4
    AND a.bill_ascription=#{userId,jdbcType=BIGINT}
    limit #{offset},#{limit}
  </select>
  <select id="selectOperatorByUserFundCount"  parameterType="java.lang.Long"  resultType="java.lang.Integer">
    SELECT COUNT( DISTINCT(e.user_id))
    from t_bill as a,t_bill_price as b,t_user_role as f,t_user as d,t_fund_account as e
    WHERE a.id=b.bill_id
    AND b.out_member_id=f.user_id
    AND d.id=a.id
    AND b.out_member_id=e.user_id
    AND f.role_id=4
    AND a.bill_ascription=#{userId,jdbcType=BIGINT}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_fund_account
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <update id="reduceBalance">
    UPDATE t_fund_account
    SET balance = balance - #{price,jdbcType=DECIMAL}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
</mapper>