<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yipeng.bill.bms.dao.messageReplyMapper">
  <resultMap id="BaseResultMap" type="com.yipeng.bill.bms.domain.messageReply">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="MessageId" jdbcType="BIGINT" property="messageid" />
    <result column="SendId" jdbcType="VARCHAR" property="sendid" />
    <result column="InId" jdbcType="VARCHAR" property="inid" />
    <result column="ReplyContent" jdbcType="VARCHAR" property="replycontent" />
    <result column="ReplyTime" jdbcType="TIMESTAMP" property="replytime" />
    <result column="MessageType" jdbcType="INTEGER" property="messagetype" />
    <result column="DealtState" jdbcType="INTEGER" property="dealtstate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, MessageId, SendId, InId, ReplyContent, ReplyTime, MessageType, DealtState
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from messagereply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from messagereply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yipeng.bill.bms.domain.messageReply">
    insert into messagereply (id, MessageId, SendId, 
      InId, ReplyContent, ReplyTime, 
      MessageType, DealtState)
    values (#{id,jdbcType=BIGINT}, #{messageid,jdbcType=BIGINT}, #{sendid,jdbcType=VARCHAR}, 
      #{inid,jdbcType=VARCHAR}, #{replycontent,jdbcType=VARCHAR}, #{replytime,jdbcType=TIMESTAMP}, 
      #{messagetype,jdbcType=INTEGER}, #{dealtstate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yipeng.bill.bms.domain.messageReply">
    insert into messagereply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="messageid != null">
        MessageId,
      </if>
      <if test="sendid != null">
        SendId,
      </if>
      <if test="inid != null">
        InId,
      </if>
      <if test="replycontent != null">
        ReplyContent,
      </if>
      <if test="replytime != null">
        ReplyTime,
      </if>
      <if test="messagetype != null">
        MessageType,
      </if>
      <if test="dealtstate != null">
        DealtState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="messageid != null">
        #{messageid,jdbcType=BIGINT},
      </if>
      <if test="sendid != null">
        #{sendid,jdbcType=VARCHAR},
      </if>
      <if test="inid != null">
        #{inid,jdbcType=VARCHAR},
      </if>
      <if test="replycontent != null">
        #{replycontent,jdbcType=VARCHAR},
      </if>
      <if test="replytime != null">
        #{replytime,jdbcType=TIMESTAMP},
      </if>
      <if test="messagetype != null">
        #{messagetype,jdbcType=INTEGER},
      </if>
      <if test="dealtstate != null">
        #{dealtstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yipeng.bill.bms.domain.messageReply">
    update messagereply
    <set>
      <if test="messageid != null">
        MessageId = #{messageid,jdbcType=BIGINT},
      </if>
      <if test="sendid != null">
        SendId = #{sendid,jdbcType=VARCHAR},
      </if>
      <if test="inid != null">
        InId = #{inid,jdbcType=VARCHAR},
      </if>
      <if test="replycontent != null">
        ReplyContent = #{replycontent,jdbcType=VARCHAR},
      </if>
      <if test="replytime != null">
        ReplyTime = #{replytime,jdbcType=TIMESTAMP},
      </if>
      <if test="messagetype != null">
        MessageType = #{messagetype,jdbcType=INTEGER},
      </if>
      <if test="dealtstate != null">
        DealtState = #{dealtstate,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yipeng.bill.bms.domain.messageReply">
    update messagereply
    set MessageId = #{messageid,jdbcType=BIGINT},
      SendId = #{sendid,jdbcType=VARCHAR},
      InId = #{inid,jdbcType=VARCHAR},
      ReplyContent = #{replycontent,jdbcType=VARCHAR},
      ReplyTime = #{replytime,jdbcType=TIMESTAMP},
      MessageType = #{messagetype,jdbcType=INTEGER},
      DealtState = #{dealtstate,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByMessageId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from messagereply
    where MessageId = #{MessageId,jdbcType=BIGINT}
    order by id asc
  </select>
  <update id="updateByMessageId"  parameterType="java.lang.Long">
    update messagereply
    set DealtState = 2
    where MessageId = #{MessageId,jdbcType=BIGINT}
  </update>
</mapper>