<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yipeng.bill.bms.dao.sendBoxMapper">
  <resultMap id="BaseResultMap" type="com.yipeng.bill.bms.domain.sendBox">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="sendUserId" jdbcType="VARCHAR" property="senduserid" />
    <result column="InUserId" jdbcType="VARCHAR" property="inuserid" />
    <result column="mailType" jdbcType="INTEGER" property="mailtype" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="Content" jdbcType="VARCHAR" property="content" />
    <result column="dealtState" jdbcType="INTEGER" property="dealtstate" />
    <result column="affairState" jdbcType="INTEGER" property="affairstate" />
    <result column="SendTime" jdbcType="TIMESTAMP" property="sendtime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, sendUserId, InUserId, mailType, Title, Content, dealtState, affairState, SendTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sendbox
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sendbox
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yipeng.bill.bms.domain.sendBox">
    insert into sendbox (Id, sendUserId, InUserId, 
      mailType, Title, Content, 
      dealtState, affairState, SendTime
      )
    values (#{id,jdbcType=BIGINT}, #{senduserid,jdbcType=VARCHAR}, #{inuserid,jdbcType=VARCHAR}, 
      #{mailtype,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{dealtstate,jdbcType=INTEGER}, #{affairstate,jdbcType=INTEGER}, #{sendtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yipeng.bill.bms.domain.sendBox">
    insert into sendbox
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="senduserid != null">
        sendUserId,
      </if>
      <if test="inuserid != null">
        InUserId,
      </if>
      <if test="mailtype != null">
        mailType,
      </if>
      <if test="title != null">
        Title,
      </if>
      <if test="content != null">
        Content,
      </if>
      <if test="dealtstate != null">
        dealtState,
      </if>
      <if test="affairstate != null">
        affairState,
      </if>
      <if test="sendtime != null">
        SendTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="senduserid != null">
        #{senduserid,jdbcType=VARCHAR},
      </if>
      <if test="inuserid != null">
        #{inuserid,jdbcType=VARCHAR},
      </if>
      <if test="mailtype != null">
        #{mailtype,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="dealtstate != null">
        #{dealtstate,jdbcType=INTEGER},
      </if>
      <if test="affairstate != null">
        #{affairstate,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yipeng.bill.bms.domain.sendBox">
    update sendbox
    <set>
      <if test="senduserid != null">
        sendUserId = #{senduserid,jdbcType=VARCHAR},
      </if>
      <if test="inuserid != null">
        InUserId = #{inuserid,jdbcType=VARCHAR},
      </if>
      <if test="mailtype != null">
        mailType = #{mailtype,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        Content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="dealtstate != null">
        dealtState = #{dealtstate,jdbcType=INTEGER},
      </if>
      <if test="affairstate != null">
        affairState = #{affairstate,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null">
        SendTime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yipeng.bill.bms.domain.sendBox">
    update sendbox
    set sendUserId = #{senduserid,jdbcType=VARCHAR},
      InUserId = #{inuserid,jdbcType=VARCHAR},
      mailType = #{mailtype,jdbcType=INTEGER},
      Title = #{title,jdbcType=VARCHAR},
      Content = #{content,jdbcType=VARCHAR},
      dealtState = #{dealtstate,jdbcType=INTEGER},
      affairState = #{affairstate,jdbcType=INTEGER},
      SendTime = #{sendtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCount" resultType="java.lang.Long">
    select COUNT(*)
    from sendbox as s
    join t_user as u
    on s.inuserid=u.id
    where mailtype=#{MailType,jdbcType=INTEGER}
    <if test="type == 1">
      and  s.inUserId=#{currentid,jdbcType=VARCHAR}
    </if>
    <if test="type == 0">
      and  s.sendUserId=#{currentid,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectCountRead" resultType="java.lang.Long">
    select COUNT(*)
    from sendbox as s
    join t_user as u
    on s.inuserid=u.id
    where s.dealtState=0 and s.mailtype=#{MailType,jdbcType=INTEGER}
    <if test="type == 1">
      and  s.inUserId=#{currentid,jdbcType=VARCHAR}
    </if>
    <if test="type == 0">
      and  s.sendUserId=#{currentid,jdbcType=VARCHAR}
    </if>
    <if test="SearchContent != null">
      and (Title like CONCAT('%',#{SearchContent,jdbcType=VARCHAR},'%') or Content like CONCAT('%',#{SearchContent,jdbcType=VARCHAR},'%'))
    </if>
  </select>
  <select id="selectSendBox" resultMap="BaseResultMap">
    select s.id,u.user_name as inuserid,s.title,s.sendtime,s.dealtState,s.affairstate
    from sendbox as s
    join t_user as u
    on s.inuserid=u.id
    where mailtype=#{MailType,jdbcType=INTEGER}
    <if test="type == 1">
      and  s.inUserId=#{currentid,jdbcType=VARCHAR}
    </if>
    <if test="type == 0">
      and  s.sendUserId=#{currentid,jdbcType=VARCHAR}
    </if>
    <if test="SearchContent != null">
      and (Title like CONCAT('%',#{SearchContent,jdbcType=VARCHAR},'%') or Content like CONCAT('%',#{SearchContent,jdbcType=VARCHAR},'%'))
    </if>
    ORDER BY Sendtime desc
    LIMIT #{offset},#{limit}
  </select>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select s.id,s.Title,s.Content,u.user_name  as inuserid,s.dealtState,s.affairState,s.SendTime from sendbox as s
    join t_user as u
    on s.InUserId=u.id
    where s.Id = #{id,jdbcType=BIGINT}
  </select>
</mapper>