ul{
    margin:0;
    padding: 0;
    list-style: none;
}

.ImportPrice
{
   position: absolute;
    z-index: 999;
    background: #fff;
    border: 1px solid #eee;
    width: 90px;
    display :none;
}

#Sameprice
{
    border-bottom: 1px solid #eee;
}
.Navs {
 width:100%;
 height:50px;
 line-height:50px;
 border-left:1px solid #d9d9d9;
 border-right:1px solid #d9d9d9;
 border-bottom:1px solid #d9d9d9;
color:#525252;
}
.nav_L 
{
   float:left;
   width:250px;
   text-indent:10px;
   display:inline-block;
}
.nav_R {
float:right;
display:inline-block;

}
.nav_R div {
float:left;
border-right:1px solid #d9d9d9;
width:90px;
font-size:13px;
text-align:center;
cursor:pointer;
}
.nav_R div:hover
{
    background: #0099CC;

}
.nav_R div:hover span
{
   color: #fff;

}
.Navs2 {
 width:100%;
 height:50px;
 line-height:50px;
 border-left:1px solid #d9d9d9;
 background:#eee;
    z-index: 99;
  display: none;
 
}
 
.nav_R2 {
float:right;
display:inline-block;
width:95%;
}
.nav_R2 div {
float:left;
width:50px;
font-size:13px;
text-align:center;
cursor:pointer;
font-weight:bold;
}
 .nav_R2 input {
   float:left;
  height:35px;
 line-height:35px;
 margin-top: 8px;
}



.panel-nav {
 width:100%;
 height:35px;
 line-height:35px;
 border:1px solid #d9d9d9;
 margin-bottom:8px;
}
.cls {
clear:both;
}
.Nav_Left {
   float:left; 
   display:inline-block;
    color:#525252;
}
.Nav_Right {
float:right;
display:inline-block;
    color:#525252;

}
#continue,#stop,#all {
float:left;
border-right:1px solid #d9d9d9;
width:90px;
font-size:13px;
text-align:center;
cursor:pointer;
display:inline-block;
 height: 34px;
border-bottom:1px solid #d9d9d9;
}
#continue  {
    border-left:1px solid #d9d9d9;

}
.Nav_Right div:hover {
  background:#eee;

    }
#continue
{
    background:#eee;
}
.samepriceDiv
{
    display: none;
    position: absolute;
    top: 0;
    left: 20%;
}
.differentpriceDiv
{
    display: none;
    position: absolute;
    top: 0;
    left: 20%;
}
#searchButton
{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 58px;
    background: #1b9dec;color: #fff;
    cursor: pointer;
    margin-left: 10px;
}
#searchButton:hover
{
    opacity: 0.8;
}


/*站点基本信息*/

.info_mk .u1 .bg_f9{ background: #f9f9f9;}
.info_mk{ overflow: hidden; padding-bottom: 9px;}
.info_mk .u1{ width: 100%; border: 1px solid #cccccc;  border-bottom: 0px none;}
.info_mk .u1 li{ border-bottom: 1px solid #cccccc; height: 40px; line-height: 40px;}
.info_mk .u1 div{  border-right: 1px solid #cccccc; height: 40px; float: left; line-height: 40px;}
.info_mk .u1 .d1{width: 104px; border-right: 1px solid #cccccc;}
.info_mk .u1 .d2{ width: 410px;}
.info_mk .u1 .d3{ width: 104px; text-align: center;}
.info_mk .u1 .d4{ width: 258px; padding-left: 9px; border: 0 none;}
.info_mk .u1 .d5{ width: 782px; border: 0 none;}
.info_mk .u1 p{ display: inline-block; float: left; color: #666; font-size: 12px;}
.info_mk .u1 .d1 p,.info_mk .u1 .d2 p,.info_mk .u1 .d5 p{ margin-left: 20px;}
.info_mk .u1 .d1 p,.info_mk .u1 .d3 p{ color: #333;}
.info_mk .u1 .d3 p{ width: 100%;}
.info_mk .u1 .d4 .logo{ width: 20px;  height: 20px;  float: left; background: url(../images/cpd_tb.jpg) no-repeat; margin-top: 10px; margin-right: 4px;}
.info_mk .u1 .d4 .logo1{ background-position: 0px 0px;}
.info_mk .u1 .d4 .logo2{ background-position: -20px 0px;}
.info_mk .u1 .d4 .logo3{ background-position: -40px 0px;}
.info_mk .u1 .d4 .logo4{ background-position: -60px 0px;}
.info_mk .u1 .d4 .logo5{ background-position: -80px 0px;}
.info_mk .u1 .d4 .logo6{ background-position: -100px 0px;}
.info_mk .u1 .d4 em{ color: #c60000; font-size: 24px;}
.info_mk .u1 .d5 span{ font-size: 16px; color: #c60000;}
.info_mk .u1 .d5 em{ color: #c60000;}

.main_mk{ margin-top: 20px;}
.info_mk .u1 .gjcdv{ border-bottom: 1px solid #cccccc; height: 100px; line-height: 100px;}
.info_mk .u1 .gjcdv .gj1{   height: 100px; float: left; line-height: 100px;}
.info_mk .u1 .gj1{width: 104px; border-right: 1px solid #cccccc;text-align: center;}
.info_mk .u1 .gj2{ width: 773px; border: none;}
.info_mk .u1 .gj1 p{margin-left: 20px;}
