* {
	margin:0;
	padding:0;
	list-style-type:none;
}
body {
	font:12px/180% "宋体", Arial, Helvetica, sans-serif;background:#f;
}
/*图片轮换*/
#slideBox {
	width:400px;
	height:300px;
	overflow:hidden;
	position:relative;
    float:left;
	border-radius: 10px;
	-webkit-box-shadow:0 0 20px rgba(0, 204, 204, .5);
	-moz-box-shadow:0 0 20px rgba(0, 204, 204, .5);
	box-shadow:0 0 20px rgba(0, 204, 204, .5);
}
#slideBox ul#show_pic {
    background:url(../images/dk.jpg) no-repeat;
	margin:0;
	padding:0;
	list-style:none;
	height:300px;
	width:1200px;
	position:absolute;
}
#slideBox ul#show_pic li {
	float:left;
	margin:0;
	padding:0;
	height:285px;
}
#slideBox ul#show_pic li img {
	display:block;
}
#iconBall {
	position:absolute;
	bottom:0;
	right:0;
}
#iconBall li {
	float:left;
	color:#7a7a7a;
	width:28px;
	height:28px;
	line-height:28px;
	cursor:pointer;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding-top:4px;
}
#iconBall li.active {
	background:url(../images/iconbg.png) no-repeat;
	color:#fff;
}
#slideText {
	width:450px;
	height:28px;
	background:rgba(0, 0, 0, 1);
	color:#fff;
	position:absolute;
	left:0px;
	opacity: 0.5;
	bottom:0px;
*background:transparent;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000);
}
#textBall {
	position:absolute;
	left:10px;
	bottom:3px;
}
#textBall li {
	float:left;
	cursor:pointer;
	display:none;
	color:#fff;
	font-size:14px;
}
#textBall li.active {
	display:block;
}
#textBall li a {
	text-decoration:none;
	color:#fff;
}
p,p a{font-size:12px;color:#666;}